<!-- Example content for Admin/Index.cshtml -->

@{
    ViewData["Title"] = "Admin Panel";
}



<div class="text-center">

    <h1>Admin Panel</h1>
    <br />

<a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register">Create a new user</a>

<a class="btn btn-primary" href="@Url.Action("NewSubject", "Admin", new { area = "" })">Add New Subject</a>

<a class="btn btn-primary" href="@Url.Action("NewClassroom", "Admin", new { area = "" })">Add New Classroom</a>

<a class="btn btn-primary" href="@Url.Action("NewClass", "Admin", new { area = "" })">Add new class</a>

<a class="btn btn-primary" href="@Url.Action("Assignments", "Admin", new { area = "" })">Add new assignment</a>

</div>