@using Web3_Beadando.Services
@{
    ViewBag.Title = "New Category";
}

<h1>New Category</h1>
<form method="post">
    <div class="form-group">
        <label for="CategoryName">Category Name:</label>
        <input type="text" class="form-control" id="CategoryName" name="CategoryName" required />
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Category Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        
        @{
            SchoolService schoolService = new();
            foreach (var category in schoolService.categories)
        {
            <tr>
                <td>@category.Name</td>
                <td>
                    <form method="post" asp-action="DeleteCategory" asp-route-id="@category.Id" onclick="return confirm('Are you sure you want to delete category: @category.Name ?')">
                        <button type="submit" class="btn btn-primary">Delete</button>
                    </form>
                </td>
            </tr>
        }}
    </tbody>

