@using Web3_Beadando.Services
@model SchoolService

@{
    ViewData["Title"] = "New Lesson";
}

<h1>Add new class</h1>

<form method="post">

    <div class="form-group">
        <label for="subjectId">Subject:</label>
        <select class="form-control" id="subjectId" name="SubjectId" required>
           
         

            @{

                SchoolService service = new SchoolService();
                List<Subject> subjects = service.GetAllSubjects();

                foreach (Subject subject in subjects)
                {
                    <option value="@subject.Id">@subject.Name</option>
                }
            }
            


        </select>
    </div>

    <div class="form-group">
        <label for="day">Day:</label>
        <select class="form-control" id="day" name="Day" required>
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
        </select>
    </div>

    <div class="form-group">
        <label for="startTime">Start Time:</label>
        <input type="time" class="form-control" id="startTime" name="StartTime" required>
    </div>

    <div class="form-group">
        <label for="duration">Duration (minutes):</label>
        <select class="form-control" id="classDuration" name="classDuration" required>

            <option value="45">45 minutes</option>
            <option value="60">60 minutes</option>
            <option value="90">90 minutes</option>

        </select>
    </div>

    

    <div class="form-group">
        <label for="classroomId">Classroom:</label>
        <select class="form-control" id="classroomId" name="ClassroomId" required>
            
               @{
                List<Classroom> classrooms = service.GetAllClassrooms();

                foreach (Classroom classroom in classrooms)
                {
                    <option value="@classroom.Id">@classroom.Name</option>
                }
               }
            
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Add Lesson</button>
</form>