@using Web3_Beadando.Models;
@{
    ViewData["Title"] = "New Subject";
}

<h1>New Subject</h1>

<form method="post">
    <div class="form-group">
        <label for="subjectName">Subject Name:</label>
        <input type="text" class="form-control" id="subjectName" name="SubjectName" required>
    </div>

    <div class="form-group">
        <label for="instructorName">Instructor Name:</label>
        <input type="text" class="form-control" id="instructorName" name="InstructorName" required>
    </div>

    <input type="submit" class="btn btn-primary" />
</form>